<configuration>
<!--<configuration debug="true">-->

<!--    if app starts without '-v' parameter 'STDOUT' appender will be detached -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd.MM.yyyy|HH:mm:ss.SSS} [%thread] %-5level %class{10} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>err.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <!--        <immediateFlush>false</immediateFlush>-->
        <encoder>
            <pattern>%date{dd.MM.yyyy|HH:mm:ss.SSS} [%thread] %-5level %class{10} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>